body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ddd;
  color: #30273b;
}

.navbar-laravel {
  background-color: #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: #30273b !important;
}

.nav-link {
  color: #30273b !important;
}

.table-dark {
  color: #00a096;
}

.list-group-item {
  border-color: #42a3df;
  background-color: #ddd;
}

.login-box {
  background-color: rgba(0, 0, 0, 0);
}

.login-header {
  background-color: #ddd;
}

.login-body {
  background-color: #ddd;
}

.editform {
  padding-top:24px;
  padding-bottom:24px;
}